<!DOCTYPE html>
<html>
<head>
    <title>Contact Page</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
    <!-- Correct syntax for including the nav partial -->
    <%- include('partials/nav') %>
    
    <h1>Contact Us!</h1>
    <p>Feel free to talk about anything you want. Absolutely anything.</p>

    <form id="contact-form">
        <label for="who">Who do you want to contact?</label>
        <!-- Pre-populate according to query string person -->
        <input type="text" name="who" value="<%= qs.person %>">

        <label for="department">Which department?</label>
        <input type="text" name="department" value="<%= qs.dept %>">

        <label for="email">Your email</label>
        <input type="email" name="email">

        <input type="submit" name="submit">
    </form>

    <p>A project by Ved</p>
</body>
</html>
